 * {
     box-sizing: border-box;
 }

 body,
 html {
     height: 100%;
     margin: auto;
     font-size: 100%;
     background-color: black;
 }


 img {
     width: 100%;

 }

 h1 {
     text-align: center;
     font-family: 'Italiana', serif;
     color: #FDAC49;
     place-self: center;
     font-size: 2rem;
     margin-top: 2.5rem;
 }

 h2 {
     text-align: center;
     color: #FDAC49;
     font-family: 'Open-Sans', sans-serif;
 }

 p {
     text-align: center;
     font-family: 'Open-Sans', sans-serif;
 }

 #liste {
     display: grid;
     grid-template-columns: 1fr;
     grid-gap: 3rem;
     margin: auto 2rem;

 }

 #popup {
     top: 2rem;
     width: 100vw;
     height: 100vh;
     position: fixed;
     background-color: black;
     overflow: scroll;
     display: none;

 }




 .valgt {
     background-color: #E0D3AD;
 }

 .ret {
     color: #E0D3AD;
     font-family: 'Open-Sans', sans-serif;


 }

 .ret:hover {
     box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.2);
     cursor: pointer;
 }

 header img {
     width: 65px;
 }

 header {
     height: 60px;
     display: grid;
     background-color: rgba(0, 0, 0, 0.69);
     overflow: hidden;
     position: fixed;
     /* Set the navbar to fixed position */
     top: 0;
     /* Position the navbar at the top of the page */
     width: 100%;
     /* Full width */
     z-index: 1000;

 }

 /*******************BURGERMENU********************/

 #menuknap {
     width: 2em;
     height: 1.5em;
     font-size: 2em;
     color: #E0D3AD;
     display: flex;
     flex-direction: column;
     align-items: center;
     position: fixed;
     right: 0;
     z-index: 10;
     top: 0.5rem;
 }

 #menu {
     width: 100%;
     background-color: rgba(0, 0, 0, 0.69);
     list-style-type: none;
     position: fixed;
     top: 8.2vw;
     text-align: center;


 }

 #menu a {
     color: #E0D3AD;
     text-decoration: none;
     font-family: 'Italiana',
         serif;
     font-size: 1.3rem;

 }

 #menu li {
     padding: 1rem;
 }

 #menu a:hover {
     text-decoration: underline;
     color: #FDAC49;
 }


 /********************NAVBAR DESKTOP**********************/

 .hidden {
     transform: scale(0);
 }




 .navbar {
     display: none;
 }

 /* Links inside the navbar */
 .navbar a {
     float: right;
     display: inline-block;
     color: #E0D3AD;
     text-decoration: none;
     font-family: 'Italiana',
         serif;
     font-size: 1.5rem;
     padding: 2vw;
     position: relative;
 }

 /* Change background on mouse-over */
 .navbar a:hover {
     border-left-style: solid;
     border-right-style: solid;
     color: #FDAC49;

 }

 /*****************COVERBILLEDE************/
 #parallax-1 {
     background-image: url(img-index/mobileSplash.svg);

     min-height: 550px;
     min-width: 300px;
 }



 #parallax-1 img {
     width: 100%;
     position: absolute;
     top: 15rem;
     left: 0;
     background-color: rgba(0, 0, 0, 0.40);

 }


 .bg-img {
     background-attachment: scroll;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 300px;
     min-width: 300px;

 }



 /******************SORTERINGS-KNAP*****************/
 nav {
     margin-top: 2rem;
     margin-bottom: 2rem;
     text-align: center;

 }

 button {
     place-self: center;
     background-color: #FDAC49;
     font-family: 'Open Sans', sans-serif;
     padding: 0.7rem 1rem;
     font-size: 1rem;
     text-decoration: none;
     cursor: pointer;
     margin: 0.3rem;
     border: none;
 }

 button:hover {
     background-color: #E0D3AD;
 }


 indhold {
     background-color: black;
 }


 /************ FOOTER **************/

 footer {
     display: grid;
     width: 100%;
     grid-template-rows: 1fr 1fr;
     grid-template-columns: 1fr;
     color: #E0D3AD;
     text-align: center;
     margin-top: 2vw;
     background-color: rgba(0, 0, 0, 0.69);
     overflow: hidden;
     font-family: 'Open-Sans', sans-serif;
 }

 footer p {
     padding: 0.5rem;
 }


 @media only screen and (min-width: 768px) {
     #liste {
         grid-template-columns: 1fr 1fr;
         margin: auto 50px;
     }

     #popup #indhold {
         min-height: 50vh;
         width: 60vw;
         margin: 4rem auto;
     }

     header {
         height: 80px;
     }

     header img {
         width: 85px;
     }

     #parallax-1 img {
         top: 20rem;
     }

     #parallax-1 {
         background-image: url(img-index/coverBilled.svg);
         height: 800px;
     }

     #menu {
         top: 4rem;
     }

     h1 {
         font-size: 2.3rem;
     }
 }

 @media only screen and (min-width: 1024px) {
     #liste {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         margin: auto 100px;


     }

     #indhold {
         min-height: 40vh;
         width: 50vw;
         margin: 4rem auto;
     }

     #menu {
         display: none;
     }


     .navbar {
         display: block;
         overflow: hidden;
         position: fixed;
         /* Set the navbar to fixed position */
         top: 0;
         /* Position the navbar at the top of the page */
         width: 100%;
         /* Full width */
         z-index: 1000;

     }

     #menuknap {
         display: none;
     }

     header {
         height: 90px;
     }

     header img {
         width: 95px;
     }

     .bg-img {
         /* Set a specific height */
         min-height: 800px;

         /* Create the parallax scrolling effect */
         background-attachment: fixed;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;


     }

     #parallax-1 img {
         width: 70%;
         top: 15rem;
         background-color: rgba(0, 0, 0, 0);

     }


 }
