     body,
     html {
         height: 100%;
         margin: auto;
         font-size: 100%;
         background-color: black;
         display: grid;
     }

     h1,
     h2,
     h3 {
         font-family: 'Italiana', serif;
         color: #FDAC49;
         place-self: center;


     }

     #logo {
         background-image: url(Artboard%20vinogglasB-orange.svg);

     }


     p {
         font-family: 'Open Sans', sans-serif;
         color: #E0D3AD;
     }


     #parallax-1 {
         background-image: url(coverBillede.svg);
     }

     #parallax-2 {
         background-image: url(billedePasta.jpg);
     }

     #parallax-3 {
         background-image: url(billedeKrydrer.jpg);

     }

     .bg-img {
         background-attachment: scroll;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         min-height: 300px;
         min-width: 300px;

     }

     .text {
         display: grid;
         grid-template-columns: repeat(1fr);
         grid-gap: 3rem;
         height: 400px;
         background-color: rgba(142, 140, 133, 0.26);
         font-family: 'Open Sans', sans-serif;
         color: white;
         padding: 5vw;
         color: #E0D3AD;
     }

     .text button {
         place-self: center;
         background-color: #FDAC49;
         font-family: 'Open Sans', sans-serif;
         padding: 1rem 2.6rem;
         font-size: 1rem;
         text-decoration: none;
         cursor: pointer;
     }

     .hidden {
         transform: scale(0);
     }

     #menuknap {
         width: 2em;
         height: 1.5em;
         font-size: 2em;
         color: white;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         align-items: center;
         position: fixed;
         right: 0;
         z-index: 10;
         top: 0;
     }

     #menu {
         width: 100%;
         background-color: rgba(51, 39, 18, 0.46);
         list-style-type: none;
         transition: transform 1s;
         transform-origin: top bottom;
         position: fixed;
         top: 11.5vw;
         text-align: center;

     }

     #menu a {
         color: white;
         text-decoration: none;
     }

     #menu a:hover {
         text-decoration: underline;
     }


     .navbar {
         display: none;
     }

     /* Links inside the navbar */
     .navbar a {
         float: right;
         display: block;
         color: #f2f2f2;
         text-align: center;
         padding: 20px 16px;
         text-decoration: none;

     }

     header {
         height: 60px;
         display: grid;
         background-color: rgba(0, 0, 0, 0.49);
         display: block;
         overflow: hidden;
         position: fixed;
         /* Set the navbar to fixed position */
         top: 0;
         /* Position the navbar at the top of the page */
         width: 100%;
         /* Full width */
         z-index: 1000;

     }

     /* Change background on mouse-over */
     .navbar a:hover {
         background: #ddd;
         color: black;
     }

     @media only screen and (min-width: 768px) {
         .bg-img {

             background-attachment: scroll;
         }
     }

     @media only screen and (min-width: 1024px) {
         .bg-img {
             /* Set a specific height */
             min-height: 800px;

             /* Create the parallax scrolling effect */
             background-attachment: fixed;
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;


         }


         .navbar {
             display: block;
             overflow: hidden;
             position: fixed;
             /* Set the navbar to fixed position */
             top: 0;
             /* Position the navbar at the top of the page */
             width: 100%;
             /* Full width */
             z-index: 1000;

         }

         #menuknap {
             display: none;
         }
     }
