     body,
     html {
         height: 100%;
         width: 100%;
         margin: auto;
         font-size: 100%;
         background-color: black;
     }

     h1,
     h2,
     h3 {
         font-family: 'Italiana',
             serif;
         color: #FDAC49;
         place-self: center;

     }

     p {
         font-family: 'Open Sans', sans-serif;
         color: #E0D3AD;
     }

     * {
         box-sizing: border-box;
     }


     /***********HEADER***************/

     header {
         height: 70px;
         display: flex;
         background-color: black;
         overflow: hidden;
         position: fixed;
         top: 0;
         width: 100%;
         z-index: 1000;

     }

     header img {
         width: 65px;
         margin-top: 0.2rem;
         margin-bottom: 0.2rem;
         margin-left: 0.7rem;

     }



     /*******************BURGERMENU********************/

     #menuknap {
         width: 2em;
         height: 1.5em;
         font-size: 2em;
         color: #E0D3AD;
         display: flex;
         flex-direction: column;
         align-items: center;
         position: fixed;
         right: 0;
         top: 0.5rem;
     }

     #menu {
         width: 100%;
         background-color: black;
         list-style-type: none;
         position: fixed;
         top: 10.2vw;
         text-align: center;

     }

     #menu a {
         color: #E0D3AD;
         text-decoration: none;
         font-family: 'Italiana',
             serif;
         font-size: 1.3rem;

     }

     #menu li {
         padding: 1rem;
     }

     #menu a:hover {
         text-decoration: underline;
         color: #FDAC49;
     }


     /********************NAVBAR DESKTOP**********************/

     .hidden {
         transform: scale(0);
     }




     .navbar {
         display: none;
     }

     /* Links inside the navbar */
     .navbar a {
         float: right;
         display: block;
         color: #E0D3AD;
         text-decoration: none;
         font-family: 'Italiana',
             serif;
         font-size: 1.3rem;
         padding: 2vw;
         position: relative;
     }

     /* Change background on mouse-over */
     .navbar a:hover {
         color: #FDAC49;

     }

     /**************************BILLEDER BAGGRUND**********************/


     #parallax-1 {
         background-image: url(img-index/splashMobil.png);
         min-height: 600px;
         min-width: 300px;

     }

     #welcometo img {
         width: 100%;
         position: absolute;
         top: 15rem;
         left: 0;
         background-color: rgba(0, 0, 0, 0.50);
         animation-name: sliding;
         animation-duration: 7s;
         animation-iteration-count: 1;


     }

     @keyframes sliding {
         0% {

             opacity: 0;
         }

         50% {
             opacity: 1;
         }

         /*
         100% {
             opacity: 1;
         }
*/
     }

     #parallax-2 {
         background-image: url(img-index/billedePasta.jpg);
     }

     #parallax-3 {
         background-image: url(img-index/pizzaDegolie.jpg);
         opacity: 0.9;
     }

     .bg-img {
         background-attachment: scroll;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         min-height: 300px;
         min-width: 300px;

     }


     /************************TEXT MELLEM BILLEDER*************************/

     #text-1 {
         display: grid;
         background-image: url(img-index/darkenRestaurant.jpg);
         background-attachment: scroll;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         min-height: 300px;
         min-width: 300px;

     }

     #text-2 {
         background-image: url(img-index/pastaMaking.jpg);
     }

     #text-3 {
         background-image: url(img-index/tomatoesHerbs.jpg);
     }

     .text {
         display: grid;

         height: 700px;
         font-family: 'Open Sans', sans-serif;
         padding: 5vw;
         color: #E0D3AD;
         z-index: 1000;
     }


     .text h2 {
         font-size: 1.6rem;
     }

     .text p {
         font-size: 1rem;
         margin-left: 2rem;
         margin-right: 2rem;
         line-height: 2;

     }

     .text a {
         place-self: center;
         background-color: #FDAC49;
         font-family: 'Open Sans', sans-serif;
         padding: 0.8rem 2.6rem;
         font-size: 1rem;
         text-decoration: none;
         cursor: pointer;
         color: black;
         transition: 0.3s;
     }

     .text a:hover {
         background-color: #E0D3AD;
         opacity: 1;
         transform: scale(1.1);
     }


     #text-3 p {
         border-bottom-style: solid;
         border-bottom-width: thin;
     }

     .kontakt {
         display: grid;
         grid-template-columns: auto auto;
         text-align: center;


     }

     .adress {
         margin-top: 2rem;
         text-align: center;

     }

     .adress:nth-child(2) {
         text-align: left;
     }

     i {
         font-size: 0.5rem;
         color: #FDAC49;

     }

     li {
         padding: 1rem;
     }

     .information {
         display: grid;
         grid-gap: 0.5rem;
         grid-template-columns: 1fr 1fr;
     }

     .adress {
         font-family: 'Open Sans', sans-serif;
         color: #E0D3AD;
     }




     /******************************TABLET************************/

     @media only screen and (min-width: 768px) {
         .bg-img {
             min-height: 500px;
             background-attachment: fixed;
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;

         }

         .text p {
             font-size: 1.1rem;
             margin-left: 5rem;
             margin-right: 5rem;
         }

         .text h2 {
             font-size: 2.3rem;
         }

         header {
             height: 80px;
         }

         header img {
             width: 75px;
         }


         #welcometo img {
             width: 90%;
             top: 15rem;
             left: 2rem;
         }

         #parallax-1 {
             height: 700px;
             background-image: url(img-index/coverBilledMork.jpg);
         }


         #menu {
             top: 4rem;
         }

         .adress:nth-child(1) {
             text-align: center;
         }

         .adress:nth-child(2) {
             text-align: center;
         }

         .kontakt {
             margin-right: 10rem;
             margin-left: 10rem;
         }
     }


     /*****DESKTOP****/

     @media only screen and (min-width: 1160px) {
         .bg-img {
             min-height: 500px;
             background-attachment: fixed;
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;


         }


         #parallax-1 {
             background-image: url(img-index/coverBilledMork.jpg);
         }


         #welcometo img {
             width: 75%;
             top: 10rem;
             left: 10rem;
             background-color: rgba(0, 0, 0, 0.50);
         }

         #menu {
             display: none;
         }


         .navbar {
             display: block;
             overflow: hidden;
             position: fixed;
             top: 0;
             width: 100%;
             z-index: 1000;

         }

         #menuknap {
             display: none;
         }

         header {
             height: 90px;
         }

         header img {
             width: 85px;
             margin-top: 0.3rem;
             margin-left: 1.5rem;
         }

         .text p {
             font-size: 1rem;
             margin-left: 16rem;
             margin-right: 16rem;
         }

         .text h2 {
             font-size: 2rem;

         }

         ul {

             margin-left: 30rem;
             margin-bottom: 5rem;
         }

         #text-1 {
             height: 700px;

         }

         #text-3 {
             height: 600px;
             background-size: 100%;
         }

         .adress {
             text-align: right;
         }

         .kontakt {
             display: grid;
             grid-template-columns: auto auto auto auto;
             line-height: 2;
             margin-left: 20rem;
             margin-right: 20rem;


         }

         .logoheader {
             z-index: 1100;

         }
     }
