     body,
     html {
         height: 100%;
         width: 100%;
         margin: auto;
         font-size: 100%;
         background-color: black;
     }

     h1,
     h2,
     h3 {
         font-family: 'Italiana',
             serif;
         color: #FDAC49;
         place-self: center;


     }

     p {
         font-family: 'Open Sans', sans-serif;
         color: #E0D3AD;
     }

     * {
         box-sizing: border-box;
     }


     /***********HEADER***************/

     header {
         height: 60px;
         display: flex;
         background-color: rgba(0, 0, 0, 0.69);
         overflow: hidden;
         position: fixed;
         /* Set the navbar to fixed position */
         top: 0;
         /* Position the navbar at the top of the page */
         width: 100%;

         /* Full width */
         z-index: 1000;

     }

     header img {
         width: 65px;
     }


     /*******************BURGERMENU********************/

     #menuknap {
         width: 2em;
         height: 1.5em;
         font-size: 2em;
         color: #E0D3AD;
         display: flex;
         flex-direction: column;
         align-items: center;
         position: fixed;
         right: 0;
         z-index: 10;
         top: 0.5rem;
     }

     #menu {
         width: 100%;
         background-color: rgba(0, 0, 0, 0.69);
         list-style-type: none;
         position: fixed;
         top: 8.2vw;
         text-align: center;


     }

     #menu a {
         color: #E0D3AD;
         text-decoration: none;
         font-family: 'Open-Sans', sans-serif;
         font-size: 1.2rem;

     }

     #menu li {
         padding: 1rem;
     }

     #menu a:hover {
         text-decoration: underline;
     }


     /********************NAVBAR DESKTOP**********************/

     .hidden {
         transform: scale(0);
     }




     .navbar {
         display: none;
     }

     /* Links inside the navbar */
     .navbar a {
         float: right;
         display: inline-block;
         color: #E0D3AD;
         text-decoration: none;
         font-family: 'Open-Sans', sans-serif;
         font-size: 1.5rem;
         padding: 2vw;
         position: relative;
     }

     /* Change background on mouse-over */
     .navbar a:hover {
         border-left-style: solid;
         border-right-style: solid;

     }

     /**************************BILLEDER BAGGRUND**********************/


     #parallax-1 {
         display: inline-grid;
         grid-gap: 1fr;
         background-image: url(coverBilled.svg);
         width: 100%;
     }

     #parallax-1 img {
         width: 60%;
         position: absolute;
         top: 10rem;

     }

     #parallax-2 {
         background-image: url(billedePasta.jpg);
     }

     #parallax-3 {
         background-image: url(pizzaDegolie.jpg);

     }

     .bg-img {
         background-attachment: scroll;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         min-height: 300px;
         min-width: 300px;

     }


     /************************TEXT MELLEM BILLEDER*************************/

     .text {
         display: grid;
         grid-template-columns: repeat(1fr);
         height: 700px;
         font-family: 'Open Sans', sans-serif;
         padding: 5vw;
         color: #E0D3AD;
     }

     .text h2 {
         font-size: 2.4rem;
     }

     .text p {
         font-size: 1.1rem;
         margin-left: 2rem;
         margin-right: 2rem;
     }

     .text a {
         place-self: center;
         background-color: #FDAC49;
         font-family: 'Open Sans', sans-serif;
         padding: 0.8rem 2.6rem;
         font-size: 1rem;
         text-decoration: none;
         cursor: pointer;
         color: black;
     }

     .text a:hover {
         background-color: #E0D3AD;
     }


     ul {
         margin-left: 1.2rem;
         color: #FDAC49;
     }

     /******************************TABLET************************/

     @media only screen and (min-width: 768px) {
         .bg-img {
             min-height: 500px;

         }

         .text p {
             font-size: 1.1rem;
             margin-left: 5rem;
             margin-right: 5rem;
         }

         ul {
             margin-left: 10rem;
         }

         header {
             height: 80px;
         }

         header img {
             width: 85px;
         }

         #parallax-1 img {
             top: 20rem;

         }


     }


     /*****DESKTOP****/

     @media only screen and (min-width: 1024px) {
         .bg-img {
             /* Set a specific height */
             min-height: 800px;

             /* Create the parallax scrolling effect */
             background-attachment: fixed;
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;


         }

         #parallax-1 img {
             top: 26rem;

         }

         #menu {
             display: none;
         }


         .navbar {
             display: block;
             overflow: hidden;
             position: fixed;
             /* Set the navbar to fixed position */
             top: 0;
             /* Position the navbar at the top of the page */
             width: 100%;
             /* Full width */
             z-index: 1000;

         }

         #menuknap {
             display: none;
         }

         header {
             height: 90px;
         }

         header img {
             width: 95px;
         }

         .text p {
             font-size: 1.3rem;
             margin-left: 18rem;
             margin-right: 18rem;
         }

         ul {
             font-size: 1.3rem;
             margin-left: 30rem;
             margin-bottom: 5rem;
         }

         #text-1 {
             height: 700px;

         }

         #text-3 {
             height: 600px;
         }
     }
